.edittableCell {
}
.filterlist {
  display: flex;
  align-items: baseline;
  flex-flow: wrap;
}
.filteritem {
  margin: 10px;
}
.iteminput {
  width: 120px;
  margin-left: 10px;
}
.opertion {
}
.saveBtn {
  display: inline-block;
}
.iconStyle {
  margin-right: 8px;
  color: #1890ff;
}
.clickRowStyl {
  background-color: #00b4ed;
}
:global {
  .ant-table-thead > tr > th {
    background: rgba(60,133,248,.08);
  }
}
