.editModal {

  .iconStyle {
    font-size: 16;
    color: #08c;
    margin-right: 10px;
    cursor: pointer;
  }
}
:global {
  .ant-upload-list-item:first-child {
    float: none;
    width: 440px;
    height: 200px;
  }
  .ant-form-item {
    width: 100%;
    .ant-input-number {
      width: 100%;
    }
  }
}
