.title {
  width: 140px;
  height: 32px;
  background-color: #F57323;
  color: white;
  text-align: center;
  line-height: 26px;
  padding-left: 10px;
  float: left;
}
.triangle {
  border-bottom: 32px solid transparent;
  border-top: 0px solid transparent;
  border-left:20px solid #F57323;
  /*border-right: 150px solid red;*/
  width: 20px;
  height: 16px;
  float: left;
}
.card {
  display: flex;
  flex-direction: column;
  border-top: 4px solid #F57323;
  height: 100%;
  width:48%;
  background-color: #FFF;
  box-shadow: 0 2px 4px #DEE9F4;
  .cardTitle {
    display: flex;
    overflow: hidden;
  }
  .cardbox {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    .boxImg {
      width: 45%;
      height: auto;
      padding: 20px;
      margin-left: 20px;
      border: 1px solid #CCC;
      border-radius: 5px;

      img {
        margin: 0 auto;
        text-align:center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
    }
    .experimentImg {
      padding: 0;
      border: none;
      :global {
        .ant-carousel {
          ul {
            height: 15px;
            li {
              height: 100%;
              button {
                height: 100%;
                background: #F57323;
                font-size: 12px;
                color: #000000;
              }
            }
          }
        }
      }
    }

    .itemUl {
      width: 55%;
      padding-left: 4%;
      margin: 0;
      .textarea {
        border: none;
        resize: none;
      }
      span {
        color: #4A4A4A;
        font-size: 14px;
        font-weight: bold;
      }
      li {
        list-style:none;
        background:url(../../../public/li.svg) no-repeat left;
        padding-left:15px;
        line-height: 28px;
        height: 28px;
        display:block;
        span:first-child {
          color: #9B9B9B;
          font-size: 12px;
          width: 80px;
          height: 28px;
          display: inline-block;
        }
        span:nth-child(2) {
          color: #000000;
          font-size: 12px;
          margin-left: 10px;
          display: contents;
        }
      }
    }
  }
}
.backingCard {
  float: right;
  .backingBoxImg {
    width: 45%;
    height: 100%;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
    display: flex;
    span {
      text-align: center;
    }
    .imgWater {
      flex: 4;
      background: #8ED7FF;
      border: 1px solid #8ED7FF;
      &:hover {
        border: 1px solid #F57323;
      }
    }
    .imgSample {
      flex: 3;
      background: #616F7E;
      border: 1px solid #616F7E;
      &:hover {
        border: 1px solid #F57323;
      }
    }
    .imgBacking {
      flex: 3;
      background: #4F5663;
      border: 1px solid #4F5663;
      &:hover {
        border: 1px solid #F57323;
      }
    }
    .imgAir {
      flex: 5;
      background: #D6FFFF;
      border: 1px solid #D6FFFF;
      &:hover {
        border: 1px solid #F57323;
      }
    }
  }
}
